// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300&display=swap');

/* Credit: https://guwii.com/bytes/sass-function-loop-headings-h1h2h3h4h5h6/ */
// Setup the function in your functions or helpers files, wherever you keep these bits.
@function headings($from:1, $to:6) {
  @if $from == $to {
      @return 'h#{$from}';
  } @else {
      @return 'h#{$from},' + headings($from+1, $to);
  }
}

// Then call it with the rules/styles you want wherever you want (As long as the file/include has access to the above function of course).
#{headings(1,6)} {
  font-family: 'Work Sans', sans-serif;
}

hr {
  border: none;
  border-top: 1px solid #333;
  color: #333;
  overflow: visible;
  text-align: center;
}